#side-bar-extension-root {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

#contentDiv {
  @apply text-black;
}

#contentDiv.dark {
  @apply dark:text-white dark:bg-[#121319];
}

@layer utilities {
  .desaturate {
    filter: grayscale(70%); /* 적절한 값을 사용하여 채도를 조절합니다. */
  }
}

/* 팡파레 애니메이션 키 프레임 */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 팡파레 애니메이션 적용 클래스 */
.pop-effect {
  animation: pop 0.5s ease-out;
}

/*스크롤바 스타일*/
/* Webkit 기반 브라우저 (Chrome, Safari 등) */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7cb3f7;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}